.modal-dialog
  .modal-content
    .modal-header
      %button.close.close-cloner_list{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title Clone Info Button
    .modal-body
      .row
        .col-xs-12
          - @info_buttons.each do |info_button|
            .info_button_clone{info_button_clone_id: info_button.id}
              .map-button.info-button{style: "background: #{info_button.color}"}
                = info_button.text
                %i.icon-info-circled
    .modal-footer
      %button.btn.btn-default.close-cloner_list{"data-dismiss" => "modal", :type => "button"} Close
