.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title Sub region
    = form_for(@sub_scene, remote: params[:remote]) do |f|
      .modal-body
        .row.margin-below
          .col-xs-12
            = f.text_field :text, placeholder: 'Name', class: 'form-control'
        .row.margin-below
          %b.col-xs-12 Icon
          %i.col-xs-12 To get a graphical icon on the map instead of a text button. Please scale to wanted pixel size before. To place an image in the description, please use the editor button above!
          .col-xs-4
            %b Icon width (px):
          .col-xs-2
            = f.text_field :icon_size, placeholder: 'Icon pixel width', class: 'form-control'
          .col-xs-6
            = f.file_field :icon
          .col-xs-6
            - if @sub_scene.icon.url
              = image_tag(@sub_scene.icon, class: 'upload-thumbnail')
              .checkbox
                %label
                  = f.check_box :remove_icon
                  Remove icon
        .row.margin-below
          .col-xs-6
            = f.text_field :longitude, placeholder: 'x-coordinate', class: 'form-control'
          .col-xs-6
            = f.text_field :latitude, placeholder: 'y-coordinate', class: 'form-control'
          = f.hidden_field :scene_id, value: @sub_scene.scene.id

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = button_tag('Save', type: 'submit', class: 'btn btn-success')
