= form_tag '/login' do
  .container.inner-sm
    .row
      .col-sm-offset-3.col-sm-6
        %h2 Login
        = text_field_tag :email, nil, placeholder: 'Email', class: 'form-control'
      .col-sm-offset-3.col-sm-6
        = password_field_tag :password, nil, placeholder: 'Password', class: 'form-control'
    .row
      .col-sm-offset-3.col-sm-6
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = button_tag('Log in', type: 'submit', class: 'btn btn-success')
