= stylesheet_link_tag    'dataTables/jquery.dataTables'
= javascript_include_tag 'dataTables/jquery.dataTables'

.container
  .row.inner-xs
    .col-xs-12
      %h3 Main Scenes changed during the last 7 days
      %table.admin-data-table.display{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Updated at
            %th Main Scene
        %tfoot
          %tr
            %th Updated at
            %th Main Scene
        %tbody
          - @main_scenes.each do |main_scene|
            %tr
              %td= main_scene.fetch(:updated_at)
              %td
                %b= main_scene.fetch(:main_scene)

  .row.inner-xs
    .col-xs-12
      %h3 Scenes changed during the last 7 days
      %table.admin-data-table.display{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Updated at
            %th Scene
            %th Main Scene
        %tfoot
          %tr
            %th Updated at
            %th Scene
            %th Main Scene
        %tbody
          - @scenes.each do |scene|
            %tr
              %td= scene.fetch(:updated_at)
              %td
                %b= scene.fetch(:scene)
              %td= scene.fetch(:main_scene)

  .row.inner-xs
    .col-xs-12
      %h3 Sub Scenes changed during the last 7 days
      %table.admin-data-table.display{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Updated at
            %th Sub Scene
            %th Scene
            %th Main Scene
        %tfoot
          %tr
            %th Updated at
            %th Sub Scene
            %th Scene
            %th Main Scene
        %tbody
          - @sub_scenes.each do |sub_scene|
            %tr
              %td= sub_scene.fetch(:updated_at)
              %td
                %b= sub_scene.fetch(:sub_scene)
              %td= sub_scene.fetch(:scene)
              %td= sub_scene.fetch(:main_scene)

  .row.inner-xs
    .col-xs-12
      %h3 Info buttons changed during the last 7 days
      %table.admin-data-table.display{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Updated at
            %th Info Button
            %th Sub Scene
            %th Scene
            %th Main Scene
        %tfoot
          %tr
            %th Updated at
            %th Info Button
            %th Sub Scene
            %th Scene
            %th Main Scene
        %tbody
          - @info_buttons.each do |info_button|
            %tr
              %td= info_button.fetch(:updated_at)
              %td
                %b= info_button.fetch(:info_button)
              %td= info_button.fetch(:sub_scene)
              %td= info_button.fetch(:scene)
              %td= info_button.fetch(:main_scene)

:javascript
  jQuery(document).ready(function() {
    jQuery('.admin-data-table').DataTable({
      "paging": false,
      "info": false,
      "order": [[ 0, "desc" ]]
    });
  });
