!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .footer
      = wicked_pdf_image_tag('GIZ/pdf_footer_tumi.png')
:css
  .footer > img { width: 100% }
