!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .header
      = wicked_pdf_image_tag('GIZ/pdf_header_gpsm.png')
:css
  .header > img { width: 100%; }
