.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title= @user.email
    = form_for(@user) do |form|
      .modal-body
        .row
          .col-xs-12
            %h3 New password
          .col-xs-6
            Password:
            = form.text_field :password, value: @password
          .col-xs-6
            Password confirmation:
            = form.text_field :password_confirmation, value: @password

        .row
          .col-xs-12
            %h3 Permissions

        - if @main_scene
          = render 'user_permission_form', form: form, main_scene: @main_scene
          = form.hidden_field :main_scene_id, value: @main_scene&.id
        - else
          - MainScene.all.each do |main_scene|
            = render 'user_permission_form', form: form, main_scene: main_scene


      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = button_tag('Save', type: 'submit', class: 'btn btn-success')
