// row class mainly for testing purposes
.row{class: "main_scene_#{main_scene.id}"}
  .col-xs-6
    %b= main_scene.text
  .col-xs-6
    = form.fields_for :main_scenes_users, MainScenesUser.find_or_initialize_by(user_id: @user.id, main_scene_id: main_scene.id) do |builder|
      Visitor?
      // destroy checkbox acts as the oppsite (relation is deleted if not checked)
      = builder.check_box '_destroy', {checked: !builder.object.new_record?, class: 'read-permission-checkbox'}, '0', '1'
      Editor?
      = builder.check_box :edit, {class: 'write-permission-checkbox'}
      Owner?
      = builder.check_box :own, {class: 'owner-checkbox'}

      = builder.hidden_field :id
      = builder.hidden_field :user_id, value: @user.id
      = builder.hidden_field :main_scene_id, value: main_scene.id
