= stylesheet_link_tag    'dataTables/jquery.dataTables'
= stylesheet_link_tag    'dataTables/extras/dataTables.responsive'
= javascript_include_tag 'dataTables/jquery.dataTables'
= javascript_include_tag 'dataTables/extras/dataTables.responsive'
= javascript_include_tag 'users_list'

%section
  .container.inner-xs
    .row
      .col-xs-12
        - if @main_scene
          %h1
            Users for
            = @main_scene.text
          = link_to new_main_scene_user_path do
            .btn.btn-default Create new scene user
        - else
          %h1 Users
          = link_to new_user_path do
            .btn.btn-default Create new user

    .row
      .col-xs-12
        - if @admins
          %table.users-table.display.responsive.no-wrap.compact{cellspacing: '0', width: '100%'}
            %thead
              %tr
                %th Email
                %th Created at
                %th Updated at

            %tbody
              - @admins.each do |u|
                %tr
                  %td
                    %b= 'Admin: ' + u.email
                  %td= u.created_at
                  %td= u.updated_at

        %table.users-table.display.responsive.no-wrap.compact{cellspacing: '0', width: '100%'}
          %thead
            %tr
              %th Email
              %th Created at
              %th Updated at
              %th Reader of
              %th Editor of
              %th Owner of
              %th Rights
              %th Delete

          %tbody
            - @users.each do |u|
              %tr
                %td= u.email
                %td= u.created_at
                %td= u.updated_at
                %th{title: u.main_scenes.map(&:text).join("\n")}= u.main_scenes.count
                %th{title: u.main_scenes_as_editor.map(&:text).join("\n")}= u.main_scenes_as_editor.count
                %th{title: u.main_scenes_as_owner.map(&:text).join("\n")}= u.main_scenes_as_owner.count
                %th
                  - if @main_scene
                    = link_to edit_user_path(id: u.id, main_scene_id: @main_scene.id), remote: true do
                      %i.icon-cog
                  - else
                    = link_to edit_user_path(id: u.id), remote: true do
                      %i.icon-cog
                %th
                  = link_to user_path(u.id), method: 'delete', data: { confirm: 'Do you really want to delete the user?' } do
                    %i.icon-trash-1
