%section
  .container.inner-xs
    .row
      .col-sm-6.col-sm-offset-3
        %h1 Create new user
        .row
          = form_for @user do |f|
            .col-xs-12
              Email:
              = f.text_field :email
            .col-xs-6
              Password:
              = f.text_field :password, value: @password
            .col-xs-6
              Password confirmation:
              = f.text_field :password_confirmation, value: @password
            .col-xs-12
              - if @main_scene
                = f.hidden_field :main_scene_id, value: @main_scene.id
              = f.button 'Create', class: 'btn btn-default'
