.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title Category for main map
    = form_for(@main_scene_category, remote: params[:remote]) do |f|
      .modal-body
        .row.dropdown-row
          .col-xs-6
            %b Name
            = f.text_field :name, class: 'form-control'
          .col-xs-4
            %b Color
            = f.text_field :color, class: 'form-control color-input'
          .col-xs-2
            %b Position
            = f.text_field :position, class: 'form-control'

        .row.margin-below
          .col-xs-12
            %b Explanation
            = f.text_area :explanation, class: 'form-control'

        .row.margin-below
          .col-xs-4
            %b Icon
          .col-xs-8
            - if @main_scene_category.icon.url
              = image_tag(@main_scene_category.icon, class: 'upload-thumbnail')
              .checkbox
                %label
                  = f.check_box :remove_icon
                  Remove
          .col-xs-4
          .col-xs-8
            = f.file_field :icon

        .row
          .col-xs-4
            %b Image
          .col-xs-8
            = image_tag(@main_scene_category.image, class: 'upload-thumbnail') if @main_scene_category.image.url
          .col-xs-4
          .col-xs-8
            = f.file_field :image

          = hidden_field_tag :authenticity_token, form_authenticity_token
          - if @main_scene
            = f.hidden_field :main_scene_id, value: @main_scene.id
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = button_tag('Save', type: 'submit', class: 'btn btn-success')
