%section#imprint
  .container.inner-sm
    .row
      .col-md-8.col-sm-9.center-block.text-center
        %h1 Impressum
        %p Innovationszentrum für Mobilität und gesellschaftlichen Wandel (InnoZ) GmbH
        %p EUREF-Campus 16, 10829 Berlin
        %p
          +49(0)30 23 88 84-0
          |
          = mail_to 'info@innoz.de'
        %hr/
        %p Geschäftsführer: Dr. Matthias Borrmann, Prof. Dr. Andreas Knie, Martin Masch
        %p Gerichtsstand: AG Berlin Charlottenburg
        %p Handelsregister-Nr.: HRB 102507 B
        %p Steuernummer: 29/001/61343
        %p USt-IdNr.: DE248939551
        %p Haftungshinweis: Das InnoZ übernimmt keine Verantwortung für die Funktion extern verlinkter Seiten sowie deren Inhalt.
