%section#index-hero
  #owl-main.owl-carousel.height-md.owl-inner-nav.owl-ui-lg
    - real_iteration = 0;
    - (1..4).to_a.shuffle.each do |i|
      - real_iteration += 1;
      .item.blue-overlay{:style => "background-image: url(#{asset_path "pages/index/hero_0#{i}"});"}
        .container
          .caption.vertical-center.text-center
            %div{class: ('fadeInDown-1' if real_iteration == 1)}
              = image_tag "textlogo_innomap_#{locale}", class: 'textlogo'

%section#services1
  .container.inner-top.inner-bottom-sm
    .row.inner-bottom-sm
      .col-md-8.col-sm-9.center-block.text-center
        %header
          %h2= t '.advantages_header_01'
      .col-xs-12.center-block.text-center
        %p.text-small= t '.advantages_subitle_01'
    .row.text-center
      - Page::Advantage.all[0..2].each do |advantage|
        .col-sm-4.inner-bottom-xs
          .icon
            %i.icn.lg{class: advantage.icon_css_class}
          %h2= advantage.name
          %p.text-small= advantage.description

%section#services2.light-bg
  .container.inner-top.inner-bottom-sm
    .row.inner-bottom-sm
      .col-md-8.col-sm-9.center-block.text-center
        %header
          %h2= t '.advantages_header_02'
      .col-xs-12.center-block.text-center
        %p.text-small= t '.advantages_subitle_02'
    .row.text-center
      - Page::Advantage.all[3..5].each do |advantage|
        .col-sm-4.inner-bottom-xs
          .icon
            %i.icn.lg{class: advantage.icon_css_class}
          %h2= advantage.name
          %p.text-small= advantage.description

-# %section#contact
-#   .container.inner-sm
-#     .row
-#       .col-md-8.col-sm-9.center-block.text-center
-#         %header
-#           %h2= t('.contact_us')
-#           %p.text-small= t('.contact_us_text')
-#     .row
-#       .col-sm-12
-#         .row
-#           .col-sm-6.outer-top-md.inner-right-sm.border-right
-#             %figure
-#               = image_tag 'pages/index/euref.jpg'
-#           .col-sm-6.outer-top-md.inner-left-sm
-#             %h3= 'Team ' + t('innovation_map')
-#             %table.icon-list-table.text-small
-#               %tr
-#                 %th.table-icon-cell
-#                   .icon-location
-#                 %th Innovationszentrum für Mobilität und gesellschaftlichen Wandel (InnoZ) GmbH - EUREF-Campus 16, 10829 Berlin (Schöneberg)
-#               %tr
-#                 %th.table-icon-cell
-#                   .icon-mobile
-#                 %th +49 (0)30 23 88 84 - 108
-#               %tr
-#                 %th.table-icon-cell
-#                   .icon-mail-1
-#                 %th= mail_to 'lorenz.croessmann@innoz.de'
-# %section#contact-map.height-sm

:javascript
  window.markerIcon = '#{image_path 'marker-icon.png'}';
