%section#scene-overview
  .container.inner-sm
    .row
      .col-sm-12.portfolio
        -# %ul.filter.text-center
        -#   %li
        -#     %a.active{'data-filter' => '*', href: '#'}= t('all')
        -#   %li
        -#     %a{'data-filter' => '.graphical', href: '#'} Graphical
        -#   %li
        -#     %a{'data-filter' => '.geographic', href: '#'} Geographic

        %ul.isotope.items.col-4.gap
          - if current_user
            %li.item.thumb{class: 'graphical'}
              %figure
                .icon-overlay.icn-link
                  = link_to new_main_scene_path, remote: true, id: 'new-main-scene' do
                    = image_tag 'grey_layer'
                %figcaption.bordered.no-top-border
                  .info
                    %h4 +
                    %p Create a new map

          - @main_scenes.each do |main_scene|
            %li.item.thumb{class: 'graphical'}
              %figure{title: main_scene.text}
                .icon-overlay.icn-link
                  = link_to main_scene_map_path(main_scene.id) do
                    = image_tag main_scene.base_image_url_for_map
                %figcaption.bordered.no-top-border
                  .info
                    %h4= main_scene.text || 'Without name'
                    %p= main_scene.category_names
                - if current_user&.admin? || current_user&.writing_permission_for?(main_scene)
                  = link_to '', main_scene_settings_path(main_scene.id), class: 'edit-scene icon-cog'
