%section#use-cases-hero
  #owl-main.owl-carousel.height-md.owl-inner-nav.owl-ui-lg
    - Page::UseCase.all.each do |use_case|
      .item.blue-overlay{:style => "background-image: url(#{asset_path 'pages/use_cases/events'});"}
        .container
          .caption.vertical-center.text-left
            %h1.fadeInDown-1.dark-bg.light-color
              %span= use_case.name
            .fadeIn-2
              %h2.light-color= use_case.description
            .fadeInDown-3
              %a.btn.btn-large.btn-white{href: '#' + use_case.name} mehr erfahren

- Page::UseCase.all.each do |use_case|
  %section{id: use_case.name, class: (cycle('', 'light-bg')) }
    .container.inner-sm
      .col-xs-12.text-center
        %h2= use_case.name
        %p.text-small= use_case.description
    
