.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title Geographic map
    = form_for(@geo_scene, remote: params[:remote]) do |f|
      .modal-body
        .row.margin-below
          .col-xs-12
            = f.text_field :text, placeholder: 'Name', class: 'form-control'
        .row.margin-below
          %b.col-xs-12
            Coordinates
          .col-xs-6
            = f.text_field :longitude, placeholder: 'x-coordinate', class: 'form-control'
          .col-xs-6
            = f.text_field :latitude, placeholder: 'y-coordinate', class: 'form-control'
        .row.margin-below
          %b.col-xs-12
            Welcome window
          .col-xs-12
            = f.text_area :welcome, placeholder: t('welcome_window'), class: 'form-control froala'


        .row
          %b.col-xs-12
            Attributes
          %p.col-xs-12
            If the info button contents should have a specific structure, set field names here. The fields will be ordered by the positioning number. If no position is set explicitly, new fields are appended to the bottom. Use the keyword 'HTML' anywhere in the field name to provide an HTML editor to the user for this field.
          .col-xs-12
            = f.fields_for :content_attributes do |builder|
              .row.margin-below
                .col-xs-3
                  = builder.text_field :position, placeholder: 'Position', class: 'form-control'
                .col-xs-9
                  = builder.text_field :info, placeholder: 'User info text', class: 'form-control'
                .col-xs-6
                  = builder.text_field :name, placeholder: 'Attribute', class: 'form-control'
                .col-xs-6
                  = builder.text_field :options, placeholder: 'Options for dropdown', class: 'form-control'

        .row
          %b.col-xs-12
            Background map
          .col-xs-12.geo-scene-tile-dropdown
            = f.select(:tile_layer, @geo_scene.tile_layers.map{ |k, v| [v[:name], k, title: v[:sample]] }, {}, class: 'image-dropown')
        .row
          .col-xs-12
            .checkbox
              %label
                = f.check_box :public_contributions_allowed
                allow public contributions?
            .checkbox
              %label
                = f.check_box :public
                public?

        - if @main_scene
          = f.hidden_field :main_scene_id, value: @main_scene.id

      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
        = button_tag('Save', type: 'submit', class: 'btn btn-success')
