.container#changes.inner-xs
  %h2 Change log
  .row
    .col-xs-12
      - @versions.each do |version|
        .inner-bottom-xs
          %h3= version['name']
          - if version['changes'].present?
            .row.attribute-row
              %b.col-xs-4 Attribute name
              %b.col-xs-4 from
              %b.col-xs-4 to
            - version['changes'].each do |key, value|
              .row.attribute-row
                .col-xs-4= key
                .col-xs-4= value[0]
                .col-xs-4= value[1]
          - else
            created
