%section
  .container
    .row.inner-top-xs.inner-bottom-sm
      .col-xs-12
        .tabs.tabs-top.tab-container
          %ul.etabs.text-center
            - if user_has_writing_permission
              %li.tab
                = link_to "Config", "#2-tab"
              %li.tab
                = link_to "Categories", "#3-tab"

          - if user_has_writing_permission
            .panel-container
              .tab-content#2-tab
                .row
                .col-xs-12
                %h1= @geo_scene.text
                %h4= link_to 'Change configuration', edit_geo_scene_path(@geo_scene), remote: true
                .col-xs-12
                %h4= link_to 'Delete map', geo_scene_path(@geo_scene.id), method: 'delete', data: { confirm: 'Do you really want to delete this with all the content?' }

            .panel-container
              .tab-content#3-tab
                .row
                  .col-xs-12
                    %h2 Map categories
                    = link_to new_geo_scene_scene_category_path(@geo_scene.id), remote: true do
                      %h4 Assign a category to this map
                  - @geo_scene_categories.in_groups_of(4, false) do |group|
                    - group.each do |scene_category|
                      .col-xs-6.col-md-3
                        .list-element.high-list-element
                          .list-title
                            %h4
                              = scene_category.name
                            = link_to edit_scene_category_path(scene_category.id, geo_scene_id: @geo_scene.id), remote: true do
                              %i.icon-pencil-1
                            = link_to scene_category_path(scene_category.id, geo_scene_id: @geo_scene.id), method: 'delete', data: { confirm: 'Do you really want to delete this?' } do
                              %i.icon-trash-1
                            -# %b= Category.find(scene_category.category_id).name
                          - if scene_category.icon.url.present?
                            = image_tag(scene_category.icon, width: '100%')
                          - else
                            %br
                            No image uploaded
