= render 'map'

#geocoder-modal.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          Search city or address
      .modal-body
        .row
          .col-xs-12.geocoder-container


= javascript_include_tag 'geo_scene.js'

- if @welcome.present?
  = render 'welcome_modal'

:javascript
  window.sceneName = '#{@geo_scene.text}';
  window.currentGeoSceneId = #{@geo_scene.id};
  window.categoriesActive = true;
  window.tileLayerUrl = '#{@geo_scene.tile_layer_url}';
