<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <% @scene.sub_scenes.each do |sub_scene| %>
    <Worksheet ss:Name="<%= sub_scene.text %>">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Name</Data></Cell>
          <Cell><Data ss:Type="String">Category</Data></Cell>
          <% sub_scene.scene.content_attributes.each do |c| %>
            <Cell><Data ss:Type="String"><%= c.cleaned_name %></Data></Cell>
          <% end %>
        </Row>
        <% sub_scene.info_buttons.each do |i| %>
          <Row>
            <Cell><Data ss:Type="String"><%= i.longest_title %></Data></Cell>
            <Cell><Data ss:Type="String"><%= i.scene_category.name %></Data></Cell>
            <% sub_scene.scene.content_attributes.each do |c| %>
              <Cell><Data ss:Type="String"><%= ActionView::Base.full_sanitizer.sanitize(i.send(c.accessor_name)) %></Data></Cell>
            <% end %>
          </Row>
        <% end %>
      </Table>
    </Worksheet>
  <% end %>

</Workbook>
