!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    = wicked_pdf_stylesheet_link_tag "content"
    = wicked_pdf_stylesheet_link_tag "pdf"

  %body#pdf
    #cover
      %h2= @scene.text
      - @info_buttons.each do |i|
        .index-element
          .index-element-text
            = i.longest_title

    #content
      - @info_buttons.each do |i|
        .page-break
        .title-row
          %h3= i.longest_title
          .category= i.scene_category.name
        -# Images in PDF need absolute path
        %br
        .pdf-content
          = i.full_content(@attributes).gsub('src="/uploads', "src=\"#{Rails.public_path}/uploads").strip.html_safe
