!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    = wicked_pdf_stylesheet_link_tag "content"
    = wicked_pdf_stylesheet_link_tag "pdf"

  %body#pdf
    #content
      .title-row
        %h3= @info_button.longest_title
      -# Images in PDF need absolute path
      %br
      .pdf-content
        = @info_button.full_content.gsub('src="/uploads', "src=\"#{Rails.public_path}/uploads").strip.html_safe
