= link_to 'http://www.bmz.de/' do
  = image_tag 'GIZ/logo_bmz', class: 'logo', style: 'float: right'
= link_to 'https://www.giz.de/' do
  = image_tag 'GIZ/logo_giz', class: 'logo', style: 'float: right'
= link_to 'https://www.german-sustainable-mobility.de/' do
  = image_tag 'GIZ/logo_gpsm', class: 'logo', style: 'float: right'
