= link_to 'http://www.sutp.org/en/' do
  = image_tag 'GIZ/logo_sutp', class: 'logo'
= link_to 'http://www.bmz.de/' do
  = image_tag 'GIZ/logo_bmz', class: 'logo', style: 'float: right'
= link_to 'https://www.giz.de/' do
  = image_tag 'GIZ/logo_giz', class: 'logo', style: 'float: right'
