.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title Graphical Map
    = form_for(@scene, remote: params[:remote]) do |f|
      .modal-body
        .row.margin-below
          %b.col-xs-12
            Name
          .col-xs-12
            = f.text_field :text, placeholder: 'Name', class: 'form-control'
        .row.margin-below
          %b.col-xs-12 Icon
          %i.col-xs-12 To get a graphical icon on the map instead of a text button. Please scale to wanted pixel size before. To place an image in the description, please use the editor button above!
          .col-xs-4
            %b icon width (px):
          .col-xs-2
            = f.text_field :icon_size, placeholder: 'Icon pixel width', class: 'form-control'
          .col-xs-6
            = f.file_field :icon
          .col-xs-6
            - if @scene.icon.url
              = image_tag(@scene.icon, class: 'upload-thumbnail')
              .checkbox
                %label
                  = f.check_box :remove_icon
                  Remove icon
        .row.margin-below
          %b.col-xs-12
            Coordinates
          .col-xs-6
            = f.text_field :longitude, placeholder: 'x-coordinate', class: 'form-control'
          .col-xs-6
            = f.text_field :latitude, placeholder: 'y-coordinate', class: 'form-control'
        .row.margin-below
          %b.col-xs-12
            Welcome window
          .col-xs-12
            = f.text_area :welcome, placeholder: t('welcome_window'), class: 'form-control froala'

        .row.margin.below
          %b.col-xs-12
            Attributes
          %p.col-xs-12
            If the info button contents should have a specific structure, set field names here. The fields will be ordered by the positioning number. If no position is set explicitly, new fields are appended to the bottom. Use the keyword 'HTML' anywhere in the field name to provide an HTML editor to the user for this field.
          .col-xs-12
            = f.fields_for :content_attributes do |builder|
              .row.margin-below
                .col-xs-3
                  = builder.text_field :position, placeholder: 'Position', class: 'form-control'
                .col-xs-9
                  = builder.text_field :info, placeholder: 'User info text', class: 'form-control'
                .col-xs-6
                  = builder.text_field :name, placeholder: 'Attribute', class: 'form-control'
                .col-xs-6
                  = builder.text_field :options, placeholder: 'Options for dropdown', class: 'form-control'


        .row.layer-upload-row.margin-below
          %b.col-xs-4
            Base Layer
          .col-xs-8
            = image_tag(@scene.base_image, class: 'upload-thumbnail') if @scene.base_image.present?
          .col-xs-4
          .col-xs-8
            = f.file_field :base_image
        .row.layer-upload-row.margin-below
          %b.col-xs-4
            Base Layer animation
          .col-xs-8
            -if @scene.base_image_overlay.present?
              = image_tag(@scene.base_image_overlay, class: 'upload-thumbnail')
              .checkbox
                %label
                  = f.check_box :remove_base_image_overlay
                  Remove
          .col-xs-4
          .col-xs-8
            = f.file_field :base_image_overlay

        .row
          .col-xs-12
            .checkbox
              %label
                = f.check_box :public_contributions_allowed
                allow public contributions?

        - if @main_scene
          = f.hidden_field :main_scene_id, value: @main_scene.id

      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'}= t('close')
        = button_tag(t('save'), type: 'submit', class: 'btn btn-success')
