%section
  .container
    .row.inner-top-xs.inner-bottom-sm
      .col-xs-12
        .tabs.tabs-top.tab-container
          %ul.etabs.text-center
            - if user_has_writing_permission
              %li.tab
                = link_to "Config", "#2-tab"
              %li.tab
                = link_to "System Effects", "#3-tab"
              %li.tab
                = link_to "Categories", "#4-tab"
          .panel-container
            - if user_has_writing_permission
              .tab-content#2-tab
                .row
                  .col-xs-12
                    %h1= @scene.text
                    %h4= link_to 'Change configuration', edit_graphical_scene_path(@scene), remote: true
                  .col-xs-12
                    %h4= link_to 'Delete map', graphical_scene_path(@scene.id), method: 'delete', data: { confirm: 'Do you really want to delete this with all the content?' }

              .tab-content#3-tab
                .row
                  .col-xs-12
                    %h2 System effect chains
                    = link_to new_system_effect_chain_path(scene_id: @scene.id), remote: true do
                      %h4 Create new system effect chain
                .row
                  - @system_effect_chains.each do |chain|
                    .col-md-6
                      .list-element
                        .row
                          .col-xs-6
                            .row.margin-below
                              .col-xs-12.list-title
                                %b= chain.text
                            .row
                              .col-xs-12
                                = link_to edit_system_effect_chain_path(chain.id, scene_id: @scene.id), remote: true do
                                  %i.icon-pencil-1
                                = link_to system_effect_chain_path(chain.id), method: 'delete', data: { confirm: 'Do you really want to delete this with all the content?' } do
                                  %i.icon-trash-1
                          .col-xs-6
                            = chain.system_effects.map(&:text).join(', ')

              .tab-content#4-tab
                .row
                  .col-xs-12
                    %h2= 'Map categories'
                    = link_to new_graphical_scene_scene_category_path(@scene.id), remote: true do
                      %h4= 'Assign a category to this map'
                  - @scene_categories.in_groups_of(4, false) do |group|
                    - group.each do |scene_category|
                      .col-xs-6.col-md-3
                        .list-element.high-list-element
                          .list-title
                            %h4
                              = scene_category.name
                            = link_to edit_scene_category_path(scene_category.id, graphical_scene_id: @scene.id), remote: true do
                              %i.icon-pencil-1
                            = link_to scene_category_path(scene_category.id, graphical_scene_id: @scene.id), method: 'delete', data: { confirm: 'Do you really want to delete this?' } do
                              %i.icon-trash-1
                          - if scene_category.icon.url.present?
                            = image_tag(scene_category.icon, width: '100%')
                          - else
                            %br
                            No image uploaded
