= render 'map'

= javascript_include_tag 'scene.js'

- if @welcome.present?
  = render 'welcome_modal'

:javascript
  window.mainSceneName = '#{@scene.main_scene.text}';
  window.mainSceneId = #{@scene.main_scene.id};
  window.sceneName = '#{@scene.text}';
  window.currentSceneId = #{@scene.id};
  window.whiteLayer = "#{asset_url('white_layer')}";
  window.base = '#{@scene.base_image}';
  window.baseOverlay = '#{@scene.base_image_overlay}';
  window.ratio = #{@scene.base_image.ratio};
  window.categoriesActive = true;

