.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title Main map
    = form_for(@main_scene, remote: params[:remote]) do |f|
      .modal-body
        .row.margin-below
          .col-xs-12
            = f.text_field :text, placeholder: 'Name', class: 'form-control'
        .row.margin-below
          %b.col-xs-12
            Welcome window
          .col-xs-12
            = f.text_area :welcome, placeholder: 'Welcome window', class: 'form-control froala'
        .row.layer-upload-row
          %b.col-xs-4
            Base Layer
          .col-xs-8
            = image_tag(@main_scene.base_image, class: 'upload-thumbnail') if @main_scene.base_image.url
          .col-xs-4
          .col-xs-8
            = f.file_field :base_image
          .col-xs-12
            .checkbox
              %label
                = f.check_box :public
                public?

      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
        = button_tag('Save', type: 'submit', class: 'btn btn-success')
