#map-style-selection.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Choose map style
      .modal-body
        .row
          .col-xs-6
            %button.btn.btn-default#select-graphical-map{style: 'width: 100%'} Graphical map
          .col-xs-6
            %button.btn.btn-default#select-geo-map{style: 'width: 100%'} Geographic map
