%section
  .container.inner-xs
    - if user_has_writing_permission
      .row
        .col-xs-12
          %h1= @main_scene.text
          %h4= link_to 'Change configuration', edit_main_scene_path(@main_scene), remote: true
        .col-xs-12
          %h4= link_to 'Visit map and add/edit/delete items', main_scene_map_path(@main_scene)
        - if current_user&.owner_of?(@main_scene)
          .col-xs-12
            %h4= link_to 'Manage users', main_scene_users_path(@main_scene)
        - if current_user&.owner_of?(@main_scene)
          .col-xs-12
            %h4= link_to 'Delete map', main_scene_path(@main_scene), method: 'delete', data: { confirm: 'Do you really want to delete this with all the content?' }
        .col-xs-12
          %hr
          %h2 Inhalt
          = 'No content yet' unless @scenes.length > 0
        - @scenes.each do |scene|
          .col-xs-12
            %h4
              - if scene.type == 'GraphicalScene'
                = link_to scene.text, graphical_scene_settings_path(scene.id)
                = link_to '', graphical_scene_path(scene.id), method: 'delete', data: { confirm: 'Do you really want to delete this with all the content?' }, class: 'icon-trash-1'
              - else
                = link_to scene.text, geo_scene_settings_path(scene.id)
                = link_to '', geo_scene_path(scene.id), method: 'delete', data: { confirm: 'Do you really want to delete this with all the content?' }, class: 'icon-trash-1'

      .row
        .col-xs-12
          %hr
          %h2 Kategorien
          = link_to new_main_scene_main_scene_category_path(@main_scene.id), remote: true do
            %h4 Assign a category to this map
        - @main_scene_categories.in_groups_of(4, false) do |group|
          .row.margin-below
          - group.each do |main_scene_category|
            .col-xs-3
              %h4
                = main_scene_category.name
              = link_to edit_main_scene_category_path(main_scene_category.id, main_scene_id: @main_scene.id), remote: true do
                %i.icon-pencil-1
              = link_to main_scene_category_path(main_scene_category.id, main_scene_id: @main_scene.id), method: 'delete', data: { confirm: 'Do you really want to delete this?' } do
                %i.icon-trash-1
              - if main_scene_category.icon.url.present?
                = image_tag(main_scene_category.icon, width: '100%')
              - else
                %br
                No image uploaded

    - else
      - @scenes.each do |scene|
        .col-xs-12
          %h4
            = link_to scene.text, scene_list_path(scene.id)
