= render 'map'

= javascript_include_tag 'main_scene.js'

- if @welcome.present?
  = render 'welcome_modal'

= render 'map_style_selection'

:javascript
  window.mainSceneName = '#{@main_scene.text}';
  window.currentMainSceneId = #{@main_scene.id};
  window.whiteLayer = "#{asset_url('white_layer')}";
  window.base = '#{@main_scene.base_image_url_for_map}';
  window.ratio = #{@main_scene.base_image_ratio};
  window.categoriesActive = true;
