.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title System Effect Chain
    = form_for(@system_effect_chain, remote: params[:remote]) do |f|
      .modal-body
        .row
          .col-xs-12
            = f.text_field :text, placeholder: 'Name', class: 'form-control'

        .row.dropdown-row
          .col-xs-6
            %b Category
            = f.collection_select :scene_category_id, @scene_categories, :id, :name

        %hr

        = f.fields_for :system_effects do |builder|
          .row.margin-below
            .col-xs-10
              %h4= SystemEffect.model_name.human
            .col-xs-2
              = builder.text_field :position, placeholder: 'Position', class: 'form-control'
            .col-xs-12
              = builder.text_field :text, placeholder: 'Name', class: 'form-control'
            .col-xs-12
              = builder.text_area :content, placeholder: 'Content', class: 'form-control froala'
            .col-xs-6
              = builder.text_field :longitude, placeholder: 'x-Koordinate', class: 'form-control'
            .col-xs-6
              = builder.text_field :latitude, placeholder: 'y-Koordinate', class: 'form-control'

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = button_tag('Save', type: 'submit', class: 'btn btn-success')
