/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap.min
 *= require leaflet
 *= require Control.Geocoder
 *= require jquery.minicolors
 *= require main
 *= require owl.carousel
 *= require owl.transitions
 *= require animate.min
 *= require aos
 *= require fontello
 *= require blue
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require plugins/code_view.min.css
 *= require plugins/table.min.css
 *= require font-awesome
 *= require responsiveslides.css
 *= require jquery.dd
 *= require_tree .
 *= require_self
 */

@import "colors";

* {
  font-family: Tahoma,Verdana,Segoe,sans-serif !important;
 }
.fr-toolbar, .fr-popup {
  * {
    font-family: FontAwesome !important;
  }
}

footer {
  font-size: 12px;
}

.blue-overlay {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $green;
    opacity: .8;
  }
}

.container-full {
  margin-left: 20px;
  margin-right: 20px;
}

.alert {
  margin: 7px 0;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

hr {
  border-color: #DADADA;
}

.border-right {
  border-right: 1px solid #DCDCDC;
}

.border-left {
  border-left: 1px solid #DCDCDC;
}

.btn {
  border-radius: 0;
}

.btn-white {
  background-color: $white;
  color: $grey !important;
}

.navbar {
  .navbar-brand {
    max-width: 600px;
  }
  .logo {
    margin-right: 15px;
    height: 40px !important;
    img { height: 100% !important; }
  }
  li {
    cursor: pointer;
    min-width: 30px;
    float: left;
    border-top: none !important;
  }
  .nav {
    a {
      font-size: 12px;
    }
  }
  .navbar-collapse {
    padding: 5px;
  }
  border-radius: 0;
  .user-button {
    color: $green !important;
  }
  .editor-button {
    &.active {
      color: green !important;
      background-color: rgba(green, 0.2);
    }
  }
  a.list-map-switch, a.settings-link {
    padding: 11px;
    .icon-map, .icon-th-list, .icon-cog-1 {
      font-size: 27px;
      &.active {
        color: $grey;
      }
    }
  }
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-long-title {
  margin-top: 15px;
  color: $green;
  cursor: pointer;
}

.info-button-attribute-fields {
  textarea {
    min-height: 45px;
    height: 45px;
    overflow-y: hidden;
  }
}

.content-attribute-dropdown {
  width: 100%;
  height: 45px;
}

.dropdown-row {
  margin-top: 10px;
  margin-bottom: 10px;
  select {
    width: 100%;
  }
}

.radio-inline {
  margin-left: 10px;
}

.upload-thumbnail {
  width: 100%;
  height: auto;
}

.layer-upload-row {
  margin-bottom: 10px;
}

.margin-below {
  margin-bottom: 15px;
}

.fr-popup {
  z-index: 99998 !important;
}
.fr-tooltip {
  z-index: 99999 !important;
}

.fr-toolbar {
  border-top: inherit;
}

.fr-box {
  margin-top: 10px;
  margin-bottom: 10px;
  ul {
    list-style-type: disc;
  }
}

.fr-code {
  width: 100%;
  resize: vertical;
}

.fr-element.fr-view {
  background-color: #f5f5f5; // same as normal textareas
}

.modal-backdrop {
  z-index: 9998;
  background-color: rgba(black, 0.6);
}
.modal {
  z-index: 9999;
  .modal-header {
    background-color: lighten($green, 40%);
  }
  .modal-footer {
    button {
      margin: 0;
    }
    background-color: lighten($green, 40%);
  }
  .alert {
    position: relative;
    top: 0;
    left: 0;
  }
  .modal-dialog {

    max-width: 800px;
  }
  .modal-body {
    padding: 20px;
  }
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

input[type='checkbox'] {
  width: auto;
}


// image dropdowns
.ddTitle {
  background-color: #f5f5f5;
}

.dd .ddChild li img {
  width: 30px;
}

.dd .ddTitle .ddTitleText img {
  width: 30px;
}

// category index
#category-index {
  .col-xs-6 {
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }
  .category-item {
    height: 270px;
  }
}

// minicolors
.minicolors-swatch {
  top: 10px !important;
}

.geo-scene-tile-dropdown {
  img {
    width: 100px !important;
  }
}
