@import 'colors';

@mixin highlighted-link-style {
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.3;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
  padding: 5px 17px 5px 10px;
  background-color: $grey;
  color: white;
  border-bottom: none !important;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.fr-wrapper {
  a { border-bottom: none !important; }
  .highlighted-link > a { @include highlighted-link-style; }
  strong > a { @include highlighted-link-style; }
  a > strong { @include highlighted-link-style; }
  a:hover { text-decoration: none; }
}

.info-overlay-content, .content-table, .pdf-content {
  ul {
    list-style-type: disc;
  }
  .content-attribute-name {
    color: $darkgreen;
    font-size: 14px;
    font-weight: bold;
    padding-top: 13px;
  }
  img {
    max-width: 100% !important;
  }
  a { border-bottom: none !important; }
  .highlighted-link > a { @include highlighted-link-style; }
  strong > a { @include highlighted-link-style; }
  a > strong { @include highlighted-link-style; }
  a:hover { text-decoration: none; }
}
