@import 'colors';

.content-table {
  margin-bottom: 70px !important;
}

.dataTables_wrapper {
  .datatable-edit-row {
    white-space: nowrap;
  }

  .transparent {
    opacity: 0.5;
  }

  .category-name {
    color: white;
  }
}

.no-table-content {
  padding: 30px;
  color: $grey;
}

.datatable-attribute-search-container {
  padding-top: 20px;
  .attribute-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content-attribute-search-input, .content-attribute-search-dropdown {
    font-size: 12px;
    float: left;
    width: 100%;
    margin-right: 10px;
    height: 30px;
  }
}

.pdf-attributes-checkbox {
  margin-left: 15px;
  float: left;
}

.pdf-export {
  padding: 15px;
}
