@import 'colors';

.loading {
  width: 100%;
  height: 100%;

  background: white;
  font-weight: bold;
  background: rgba(255,255,255,0.7);
  // border-radius: 7px;
  padding: 10px;
  position: absolute;
  // bottom: -30px;
  // border: none;
  // font-size: 15px;
  z-index: 9999;
  display: none;

  .spinner {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 10px;

    position: absolute;
    top: calc(50% - 50px); // spinner height 50px
    left: calc(50% - 50px); // spinner width 50px
  }

  .spinner > div {
    background-color: darken($darkgreen, 5);
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}
