@import 'colors';

.container-full {
  margin: 0 !important;
}

.map {
  width: 100%;
}

.map-overlay {
  position: absolute !important;
  z-index: 999 !important;
}

.powered-by-innoz {
  z-index: 998 !important;
  bottom: 0;
  right: 0;
  font-weight: bold;
  color: $darkgreen;
  padding: 15px;
  a {
    color: $darkgreen;
    filter: brightness(130%)
  }
}

.toggle-navbar {
  z-index: 998 !important; // lower than modal and map overlays
  cursor: pointer;
  background-color: $white;
  top: -1px;
  left: calc(50% - 12px);
  color: $grey;
  border: 1px solid #e7e7e7;
  padding: 0 10px 0 10px;
  font-size: 10px;
  border-radius: 0 0 4px 4px;
}

.navigation-container {
  cursor: pointer;
  * {
    float: left;
    opacity: 0.6;
  }
  .navigation-arrow {
    margin-left: 7px;
    margin-right: 7px;
  }
  .show-welcome-modal {
    margin-left: 10px;
    float: right;
  }
  box-shadow: 1px 1px 5px grey;
  top: 15px !important;
  left: 0;
  opacity: 0.8;
  background: $white;
  padding: 3px 10px 3px 7px;
  font-size: 14px;
}

.back-button-container {
  * {
    float: left;
    opacity: 0.6;
  }
  cursor: pointer;
  box-shadow: 1px 1px 5px grey;
  top: 50px !important;
  left: 0;
  opacity: 0.8;
  background: $white;
  padding: 3px 10px 3px 7px;
  font-size: 22px;
}

.filter-toggle-container {
  opacity: 0;
  cursor: pointer;
  bottom: 5px;
  left: 10px;
  .activate-all-categories, .deactivate-all-categories {
    padding-bottom: 5px;
    padding-left: 8px;
    float: left;
    color: $grey;
  }
}

.filter-toggle-row {
  padding-bottom: 10px;

  .filter-toggle-indicator {
    transition: all 0.5s ease;
    float: left;
    width: 8px;
    height: 40px;
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  .filter-toggle {
    float: left;
    box-shadow: 1px 1px 5px grey;
    border: none;
    background: none !important;
    img {
      transition: all 0.5s ease;
      opacity: 0.6;
      background: $white;
      padding: 5px;
      height: 40px;
    }
    &.active {
      img {
        opacity: 1;
      }
    }
    &:focus {
      outline: none;
    }
  }
  .filter-toggle-text {
    float: left;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    color: $white;
    line-height: 40px;
    opacity: 0.5;
    transition: all 0.5s ease;

    &.active {
      opacity: 1;
    }
  }
  .add-category-marker-button {
    display: none;
    float: left;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color: $white;
    line-height: 40px;
    opacity: 0.4;
    &.active {
      opacity: 1;
    }
  }
  .category-explanation-button {
    float: right;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color: $white;
    line-height: 40px;
    opacity: 0.4;
  }
}

#feature-search {
  float: left;
  height: 40px;
  margin: 0;
  border-radius: 0;
  border: 0;
  font-size: 18px;

  transition: all 0.5s ease;
  // strangly not working with ordinary hide/show, thus make it small and transparent
  width: 0px;
  opacity: 0;
  padding: 0;
  &.active {
    padding: 6px 12px;
    opacity: 1;
    width: 280px;
  }
}

.map-button {
  width: auto !important;
  height: auto !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-scene-button {
  color: $darkgrey;
  font-size: 20px;
  font-weight: bold;
  background: $white;
  padding: 5px 10px 5px 10px;
  i {
    font-size: 16px;
    padding-left: 8px;
    opacity: 0.6;
  }
}

.info-button {
  box-shadow: 1px 1px 5px grey;
  max-width: 300px;
  color: $white;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
  i {
    margin-left: 5px;
    opacity: 0.6;
  }
}

.not-confirmed {
  opacity: 0.3;
}
.waiting-for-confirmation {
  color: red;
}

.system-effect-index-container {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.system-effect-index {
  font-size: 25px;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.system-effect-button {
  width: auto !important;
  height: auto !important;
  background-color: rgba($white, 0.3);
  font-size: 30px;
  font-weight: bold;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 30px;
  padding: 18px 25px;
  text-align: center;
}

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.info-overlay {
  background: $white;
  box-shadow: 1px 3px 5px grey;
  right: 0;
  width: 25%;
  min-width: 300px;
  display: none;
  opacity: 1;
  padding: 15px 20px 15px 20px;
  .info-overlay-header {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    padding: 5px 25px 5px 10px;
    margin-bottom: 10px;
    color: $white;
  }
  .info-overlay-close {
    color: $white;
    font-size: 15px;
    position: absolute;
    right: 28px;
    top: 20px;
    z-index: 9999;
    cursor: pointer;
  }
  .info-button {
    margin: 3px;
    max-width: 30%;
    float: left;
    cursor: pointer;
  }
}

.sign-on-cursor {
  color: green;
  font-size: 32px;
  position: absolute;
  z-index: 999;
  display: none;
}

.move-sign-on-cursor {
  color: lightgreen;
  &.feature-chosen {
    color: green;
  }
}

.leaflet-control-attribution {
  opacity: 0.1;
}

.leaflet-control-zoom {
  display: none;
}

.zoom-container {
  .toggle-boundaries {
    margin-right: 20px;
    opacity: 0.6;
    &.active {
      opacity: 1;
    }
  }
  .geosearch {
    margin-left: 20px;
  }
  left: calc(50% - 70px);
  bottom: 5px;
  i {
    color: $darkgreen;
    cursor: pointer;
    font-size: 32px;
  }
}

.text-button {
  border: none !important;
  width: auto !important;
  height: auto !important;
  border: none !important;
}

.leaflet-container {
  background-color: #cbcbcb;
  background-repeat:no-repeat;
  background-position: 50% 50%;
}

.image-icon {
  box-shadow: none;
  img{
    width: 100%;
    height: auto;
  }
}


.modal-content {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.leaflet-bottom {
  z-index: 998 !important;
}

.leaflet-control-geocoder {
  border-radius: 0;
  width: 100%;
  border: none;
  &.leaflet-bar {
    box-shadow: none;
  }
  .leaflet-control-geocoder-form {
    width: 100%;
    input {
      background-color: none !important;
      width: 100%;
      height: 35px;
      margin: 0;
    }
  }
}
.leaflet-control-geocoder-icon {
  display: none !important;
}
.leaflet-control-geocoder-alternatives {
  padding: 10px;
  width: 100%;
  li {
    padding: 3px 0;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

#welcome-modal, .explanation-modal {
  img {
    max-width: 100% !important;
  }
  .modal-footer {
    button {
      width: 100%;
    }
  }
}


.rslides_tabs {
  border: 1px solid $grey;
  font-size: 12px;
  list-style: none;
  margin: 0 auto 50px;
  margin-top: 5px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}

.rslides_tabs a {
  color: $grey;
  width: auto;
  line-height: 12px;
  padding: 4px 8px;
  height: auto;
  background: transparent;
  display: inline;
}

.rslides_tabs .rslides_here a {
  background: $grey;
  color: $white;
  font-weight: bold;
}

.rslides_nav.next {
  float: right;
}

.info_button_clone {
  float: left;
  margin: 0;
  padding: 3px;
  cursor: pointer;
}
