@import 'colors';

// INDEX

#index-hero {
 h2 {
    font-size: 38px;
  }

  .textlogo {
    width: 400px;
    height: auto;
  }
}

.next-step {
  font-weight: bold;
  font-size: 14px;
  padding-top: 70px;
}

.tab-name {
  font-weight: bold !important;
  margin-top: 10px !important;
  font-size: 12px !important;
}

// USE CASES

#use-cases-hero {
  .dark-bg {
    span {
      background: $green !important;
      box-shadow: -.500em 0 0 $green, .500em 0 0 $green !important;
    }
  }
}

// SCENE OVERVIEW

#scene-overview {
  img {
    height: 170px !important;
  }
  .info {
    * {
      text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .edit-scene {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    z-index: 9999;
  }
}

// CONTACT
#contact {
  .icon-list-table {
    th {
      font-weight: normal;
      padding: 5px;
    }
    .table-icon-cell {
      vertical-align: top;
      padding-right: 10px;
    }
  }
}

#contact-map {
  .leaflet-marker-icon {
    box-shadow: none !important;
  }
}
