#pdf {
  * {
      font-family: Tahoma,Verdana,Segoe,sans-serif !important;
      font-size: 10px;
      page-break-inside: avoid;
    }

  .banner > img { width: 100% }

  .index-element {
    width: 28%;
    float: left;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: 1px solid lightgrey;
  }

  .index-element-text {
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h2 {
    font-size: 18px;
    color: grey;
  }

  .title-row {
    color: grey;
    h3 {
      font-size: 18px;
      float: left;
      margin-top: 0 !important;
    }
    .category {
      font-size: 10px;
      color: grey;
      float: right;
    }
  }

  .content > img {
    max-width: 50%;
    max-height: 500px;
  }

  iframe { display: none; }

  .page-break {
    display: block;
    clear: both;
    page-break-after: always;
  }

  a { text-decoration: none; }

  .pdf-content {
    color: darkslategrey;
    clear: both;
    float: left;
    display: block;
    position: relative;
    img {
      max-width: 50% !important;
    }
    .content-attribute-name {
      color: lightgrey;
      font-weight: bold;
      font-size: 12px;
    }
  }
}
