.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title= 'Map category'
    = form_for(@scene_category, remote: params[:remote]) do |f|
      .modal-body
        .row.dropdown-row
          .col-xs-6
            %b Name
            = f.text_field :name, class: 'form-control'
          .col-xs-4
            %b Color
            = f.text_field :color, class: 'form-control color-input'
          .col-xs-2
            %b Position
            = f.text_field :position, class: 'form-control'

        .row.margin-below
          .col-xs-12
            %b Explanation
            = f.text_area :explanation, class: 'form-control'

        .row.margin-below
          .col-xs-4
            %b Icon
          .col-xs-8
            - if @scene_category.icon.url
              = image_tag(@scene_category.icon, class: 'upload-thumbnail')
              .checkbox
                %label
                  = f.check_box :remove_icon
                  Remove
          .col-xs-4
          .col-xs-8
            = f.file_field :icon

        .row.margin-below
          .col-xs-4
            %b Image
          .col-xs-8
            - if @scene_category.image.url
              = image_tag(@scene_category.image, class: 'upload-thumbnail')
              .checkbox
                %label
                  = f.check_box :remove_image
                  Remove
          .col-xs-4
          .col-xs-8
            = f.file_field :image

        .row
          .col-xs-4
            %b Image overlay
          .col-xs-8
            - if @scene_category.image_overlay.url
              = image_tag(@scene_category.image_overlay, class: 'upload-thumbnail')
              .checkbox
                %label
                  = f.check_box :remove_image_overlay
                  Remove
          .col-xs-4
          .col-xs-8
            = f.file_field :image_overlay
          = hidden_field_tag :authenticity_token, form_authenticity_token
          = f.hidden_field :scene_id, value: @scene.id

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = button_tag('Save', type: 'submit', class: 'btn btn-success')
