.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title= t('add')
    = form_for(@info_button, remote: params[:remote]) do |f|
      .modal-body
        .row
          .col-sm-6
            = f.text_field :text, placeholder: t('title'), class: 'form-control'
          - unless @info_button.long_title.present?
            .col-sm-6
              %h6.add-long-title{'aria-controls' => 'long-title', 'aria-expanded' => 'false', 'data-target' => '#long-title', 'data-toggle' => 'collapse'}= t('add_long_title')

        #long-title{class: ('collapse' unless @info_button.long_title.present?)}
          .row
            .col-xs-12
              = f.text_field :long_title, placeholder: t('long_title'), class: 'form-control'

        .row
          - if @logged_in_with_rights
            .col-xs-6
              = f.text_field :longitude, placeholder: 'x-coordinate', class: 'form-control'
            .col-xs-6
              = f.text_field :latitude, placeholder: 'y-coordinate', class: 'form-control'
          - else
            .col-xs-6
              = f.hidden_field :longitude, placeholder: 'x-coordinate', class: 'form-control'
            .col-xs-6
              = f.hidden_field :latitude, placeholder: 'y-coordinate', class: 'form-control'
        .row.dropdown-row
          .col-xs-6
            %b= t('category')
            = f.select(:scene_category_id, @scene_categories.map{|c| [c.name, c.id, title: c.icon]}, {}, class: 'image-dropown')
          - if @system_effects.any?
            .col-xs-6
              %b System Effect
              = f.collection_select :system_effect_id, @system_effects, :id, :text, include_blank: true
        .row.margin-below
          .col-xs-12.info-button-attribute-fields
            %hr
            - @info_button.sub_scene.scene.content_attributes.each do |attr|
              %b= attr.name.include?('HTML') ? attr.name.gsub('HTML', '') : attr.name
              - if attr.info.present?
                %i.icon-info-circle.attribute-info-button{style: 'cursor: pointer;'}
                  %i.attribute-info-text{style: 'display: none;'}
                    = attr.info
              - if attr.options.present?
                = f.select attr.accessor_name, (attr.options.split(',').map(&:strip)).uniq, {prompt: ''}, {class: 'content-attribute-dropdown'}
              - else
                = f.text_area attr.accessor_name, class: ('form-control froala' if attr.name.include?('HTML'))
              %br
            %hr
          - if @logged_in_with_rights
            .col-xs-12
              %b Icon
              %br
              %i To get a graphical icon on the map instead of a text button. Please scale to wanted pixel size before. To place an image in the description, please use the editor button above!
            .col-xs-4
              %b icon width (px):
            .col-xs-2
              = f.text_field :icon_size, placeholder: 'Icon pixel width', class: 'form-control'
            .col-xs-6
              - if @info_button.icon.url
                = image_tag(@info_button.icon, class: 'upload-thumbnail')
                .checkbox
                  %label
                    = f.check_box :remove_icon
                    Remove icon
            .col-xs-6
              = f.file_field :icon
        .row
          .col-xs-3
            = f.check_box :visible
            visible?

        - unless @logged_in_with_rights
          .row
            .col-xs-12
              = recaptcha_tags

        = hidden_field_tag :authenticity_token, form_authenticity_token
        - if @sub_scene
          = f.hidden_field :sub_scene_id, value: @sub_scene.id

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t('close')
        = button_tag(t('save'), type: 'submit', class: 'btn btn-success')
