.explanation_modal.modal{id: locals[:category_id], role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          = locals[:category_name]
      .modal-body
        .row
          .col-xs-12
            = locals[:explanation]
      .modal-footer
        %button.btn.btn-info{'data-dismiss' => 'modal', type: 'button'} Okay
