= stylesheet_link_tag    'dataTables/jquery.dataTables'
= stylesheet_link_tag    'dataTables/extras/dataTables.responsive'
= javascript_include_tag 'dataTables/jquery.dataTables'
= javascript_include_tag 'dataTables/extras/dataTables.responsive'
= javascript_include_tag 'info_button_list'

= form_tag '/export/pdf', method: :post do
  = hidden_field_tag(:id, @geo_scene&.id || @scene&.id)
  .row.margin-below
    .col-xs-12
      - if @sub_scenes.length == 0
        .no-table-content No content
      - else
        .row.datatable-attribute-search-container
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .attribute-name
              Name
              = text_field_tag :text, nil, {class: 'content-attribute-search-input', forAttribute: 'Name'}
          - @attributes.each do |attr|
            - if attr.cleaned_name.present?
              .col-xs-6.col-sm-4.col-md-3.col-lg-2
                .attribute-name
                  = attr.cleaned_name
                - if attr.options.present?
                  = select_tag attr.name.to_sym, options_for_select(attr.options.split(',') << '', ''), {class: 'content-attribute-search-dropdown', forAttribute: attr.name}
                - else
                  = text_field_tag attr.name.to_sym, nil, {class: 'content-attribute-search-input', forAttribute: attr.cleaned_name}

        - @sub_scenes.all.each do |s|
          %h3
            - if user_has_writing_permission
              = link_to edit_sub_scene_path(s.id), remote: true, class: 'edit-sub-scene' do
                %i.icon-pencil
              = link_to sub_scene_path(s.id, scene_id: s.scene_id), method: 'delete', data: { confirm: 'Do you really want to delete this with all the content?' } do
                %i.icon-trash-1
            = s.text

          - if s.info_buttons.length == 0
            .no-table-content No content
          - else
            %table.content-table.display.responsive.no-wrap.compact{cellspacing: '0', width: '100%'}
              %thead
                %tr
                  %th Name
                  %th.text-center
                    Category
                  %th.text-center
                    Created at
                  %th
                    .pull-right Edit
                  %th
                    .pull-right Select for PDF
                  %th Visible
                  - @attributes.each do |attr|
                    %th
                      = attr.cleaned_name

              %tbody
                - s.info_buttons.all.each do |i|
                  -if i.visible || user_has_writing_permission
                    %tr{class: ('transparent' if !i.visible)}
                      %td
                        - if i.icon.url
                          %i.icon-picture-1
                        = i.longest_title
                      %td.text-center.category-name{style: "background-color: #{i.scene_category.color}"}
                        = i.scene_category.name
                      %td.text-center
                        = i.created_at.strftime('%Y-%m-%d')
                      %td.datatable-edit-row
                        .pull-right
                          = link_to edit_info_button_path(i.id), sub_scene_id: s.id, remote: true do
                            %i.icon-pencil
                          = link_to info_button_path(i.id, scene_id: s.scene_id), method: 'delete', data: { confirm: 'Do you really want to delete this?' } do
                            %i.icon-trash-1
                      %td
                        .pull-right= check_box_tag 'ids_for_pdf_export[]', i.id, false, class: 'select-for-pdf'
                      %td
                        =i.visible
                      - @attributes.each do |attr|
                        %td
                          = i.send(attr.accessor_name)&.html_safe

  .row.margin-below
    -# disable animation to assure display after filtering table
    .pdf-export
      %h3 PDF export
      = button_tag 'Download selected items as PDF', formtarget: '_blank', class: 'btn btn-default'
      .pull-right
        = button_tag 'Select all', class: 'btn btn-default select-all-for-pdf', type: 'button'
        = button_tag 'Unselect all', class: 'btn btn-default unselect-all-for-pdf', type: 'button'
      %br
      - (@geo_scene&.content_attributes || @scene&.content_attributes).each do |attr|
        .pdf-attributes-checkbox
          = attr.name.gsub('HTML', '').gsub('_', ' ')
          = check_box_tag 'attributes_for_pdf_export[]', attr.name, true
  .row
    .col-xs-12
      %h3 Excel export
      = link_to 'Download all items as excel sheet', excel_path(model: @geo_scene ? 'geo_scene' : 'scene', id: @geo_scene&.id || @scene&.id, format: 'xls'), class: 'btn btn-default'

:javascript
  window.numberOfAttributes = #{@attributes.count};
  window.userHasRights = #{user_has_writing_permission};
