.container-full
  - @categories.each do |c|
    - if c.explanation.present?
      = render 'explanation_modal', locals: {explanation: c.explanation, category_id: c.id, category_name: c.name}

  .map#map
    = render partial: 'shared/loading'

    .map-overlay.filter-toggle-container
      %table.filter-toggle-table
        %tr
          %td.deactivate-all-categories
            %i.icon-check-empty
          %td.activate-all-categories
            %i.icon-blank

        - @categories.each do |c|
          %tr
            %td.filter-toggle-row
              - controller_name != 'geo_scenes' ? image_url = c.image.url : image_url = nil
              - controller_name == 'scenes' ? image_overlay_url = c.image_overlay.url : image_overlay_url = nil
              .filter-toggle-indicator{style: "background: #{c.color};"}
              .filter-toggle.category-toggle{category: c.id, image_url: image_url, image_overlay_url: image_overlay_url}
                - if c.icon.present?
                  = image_tag(c.icon)
                - else
                  = image_tag('category_placeholder')
              - if current_user && on_map_with_writing_permission
                .editor-button.add-category-marker-button{style: "background: #{c.color};", category: c.id, category_name: c.name}
                  %i.icon-plus-circle
              .filter-toggle-text{style: "background: #{c.color};"}
                = c.name
              - if c.explanation.present?
                %i.icon-info-circled.category-explanation-button{'data-toggle' => 'modal', 'data-target' => "##{c.id}"}

        %tr
          %td.filter-toggle-row.text-filter-row{style: 'display: none'}
            .filter-toggle-indicator{style: "background: grey;"}
            .filter-toggle.text-filter-toggle
              = image_tag('text_filter_icon')
            %input#feature-search.form-control{placeholder: 'Filter by...'}

    .map-overlay.toggle-navbar
      %i.icon-up-open-1

    .map-overlay.navigation-container
      .level-1
      %i.icon-right-open.navigation-arrow.navigation-arrow-1
      .level-2
      %i.icon-right-open.navigation-arrow.navigation-arrow-2
      .level-3
      .show-welcome-modal

    - if @scene
      .map-overlay.back-button-container
        %i.icon-left-open
        #back-button= t('back')

    .map-overlay.zoom-container
      - if controller_name == 'geo_scenes'
        %i.icon-map.toggle-boundaries
      %i.icon-minus-circle.zoom-out
      %i.icon-plus-circle.zoom-in
      %i.icon-ccw.zoom-to-default

    %i.sign-on-cursor.add-sign-on-cursor.icon-plus-circle
    %i.sign-on-cursor.move-sign-on-cursor.icon-move
    %i.sign-on-cursor.edit-sign-on-cursor.icon-pencil-1
    %i.sign-on-cursor.delete-sign-on-cursor.icon-trash-1

  .map-overlay.info-overlay.scrollable
    .info-overlay-toprow
      .info-overlay-header
      %i.info-overlay-close.icon-cancel-1
    .info-overlay-content

  .map-overlay.powered-by-innoz
    powered by
    = link_to 'InnoZ', 'https://innoz.de'
