#welcome-modal.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          - if @geo_scene
            = @geo_scene.text
          - elsif @main_scene
            = @main_scene.text
          - elsif @scene
            = @scene.text
      .modal-body
        .row
          .col-xs-12.welcome-modal-content
            = @welcome.html_safe
      .modal-footer
        %button.btn.btn-info{'data-dismiss' => 'modal', type: 'button'} Okay
