%footer.dark-bg
  .container.inner
    .row
      .col-sm-4.inner
        %h4= t 'about_us'
        %figure.inner-bottom-xs
          = image_tag "logo_innomap", style: 'max-width: 250px'
        -# = link_to t('learn_more'), 'http://www.innoz.de', class: 'txt-btn'

      .col-sm-4.inner
        -# %h4= t 'contact'
        -# %p Innovationszentrum für Mobilität und gesellschaftlichen Wandel (InnoZ) GmbH
        -# %ul.contacts
        -#   %li
        -#     %i.icon-location.contact
        -#     EUREF-Campus 16, 10829 Berlin
        -#   %li
        -#     %i.icon-mobile.contact
        -#     +49 (0)30 23 88 84 - 108
        -#   %li
        -#     %i.icon-mail-1.contact
        -#     = mail_to 'info@innoz.de'
        %h4= t 'contact'
        %p Wir sind im Umbau. Bald könnt ihr uns wieder per Mail erreichen...
        -# %ul.contacts
        -#   %li
        -#     %i.icon-mail-1.contact
        -#     = mail_to 'info@innoz.de'

      .col-sm-4.inner
        %h4= t 'language'
        - I18n.available_locales.each do |language|
          - if language == locale
            %b= t 'locale_name', locale: language
          - else
            = link_to t('locale_name', locale: language), locale: language
          %br

  -# .footer-bottom
  -#   .container.inner
  -#     %p.pull-left © 2017 InnoZ GmbH. All rights reserved.
  -#     %ul.footer-menu.pull-right
  -#       = link_to t('privacy'), privacy_path
  -#       |
  -#       = link_to t('imprint'), imprint_path
