- if controller_name == 'graphical_scenes'
  = link_to graphical_scene_list_path(@scene.id), class: 'list-map-switch', disabled: true do
    .icon-th-list{class: ('active' if current_page?(graphical_scene_list_path))}
- elsif controller_name == 'geo_scenes'
  = link_to geo_scene_list_path(@geo_scene.id), class: 'list-map-switch' do
    .icon-th-list{class: ('active' if current_page?(geo_scene_list_path))}
