- if controller_name == 'graphical_scenes'
  = link_to graphical_scene_map_path(@scene.id), class: 'list-map-switch' do
    .icon-map{class: ('active' if current_page?(graphical_scene_map_path))}
- elsif  controller_name == 'geo_scenes'
  = link_to geo_scene_map_path(@geo_scene.id), class: 'list-map-switch' do
    .icon-map{class: ('active' if current_page?(geo_scene_map_path))}
