-# logos for arcadis map
- if @geo_scene&.id == 33
  = render 'layouts/navbar_logos/arcadis_logos'

-# logos for Muensterland map
- if @main_scene&.id == 21
  = render 'layouts/navbar_logos/muensterland_logos'

-# without InnoMap-Logo
- unless [35, 36, 37, 38].include?(@geo_scene&.id) || [21].include?(@main_scene&.id)
  = image_tag 'logo_innomap', class: 'logo'

-# logos for GIZ - TI map
- if @geo_scene&.id == 35
  = render 'layouts/navbar_logos/ti_logos'

-# logos for GIZ - SUTP map
- if @geo_scene&.id == 36
  = render 'layouts/navbar_logos/sutp_logos'

-# logos for GIZ - GPSM map
- if @geo_scene&.id == 37
  = render 'layouts/navbar_logos/gpsm_logos'

-# logos for GIZ - TUMI map
- if @geo_scene&.id == 38
  = render 'layouts/navbar_logos/tumi_logos'
