
.navbar
  .navbar-header
    .container
      .navbar-brand.navbar-brand-mobile
        = link_to root_path do
          = render 'layouts/navbar_logo_selection'
      %a.navbar-toggle.btn.responsive-menu.pull-right{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
        %i.icon-menu-1
  .yamm
    .navbar-collapse.collapse
      .container
        = link_to root_path do
          .navbar-brand
            = render 'layouts/navbar_logo_selection'

        %ul.nav.navbar-nav.navbar-right
          %li{title: t('to_feature_list')}
            = render 'layouts/list_link'
          %li{title: t('to_map')}
            = render 'layouts/map_link'

          - if user_has_writing_permission
            %li{title: t('to_map_settings')}
              = render 'layouts/settings_link'

            - if on_map
              %li{title: t('add_feature')}
                %a.editor-button.add-button
                  %i.icon-plus-circle
              %li{title: t('edit_feature')}
                %a.editor-button.edit-button
                  %i.icon-edit
              %li{title: t('move_feature')}
                %a.editor-button.move-button
                  %i.icon-move
              - unless on_main_map
                %li{title: t('clone_feature')}
                  %a.editor-button.clone-button
                    %i.icon-docs-1
              %li{title: t('delete_feature')}
                %a.editor-button.delete-button
                  %i.icon-trash-1

          - elsif public_contributions_allowed && on_map
            %li
              %a.editor-button.add-button
                %i.icon-plus-circle

          - if current_user
            %li
              = link_to t('log_out'), '/logout', class: 'user-button'
          - else
            %li
              = link_to t('log_in'), '/login', class: 'user-button'

        %ul.nav.navbar-nav.navbar-right
          - unless on_map || on_list || on_settings || on_main_scene_users
            %li
              = link_to t('references'), scene_overview_path
