- if controller_name == 'graphical_scenes'
  = link_to graphical_scene_settings_path(@scene.id), class: 'settings-link' do
    .icon-cog-1{class: ('active' if current_page?(graphical_scene_settings_path))}
- elsif  controller_name == 'geo_scenes'
  = link_to geo_scene_settings_path(@geo_scene.id), class: 'settings-link' do
    .icon-cog-1{class: ('active' if current_page?(geo_scene_settings_path))}
- elsif controller_name == 'main_scenes'
  = link_to main_scene_settings_path(@main_scene.id), class: 'settings-link' do
    .icon-cog-1{class: ('active' if current_page?(main_scene_settings_path))}
- elsif controller_name == 'users'
  = link_to main_scene_settings_path(@main_scene.id), class: 'settings-link' do
    .icon-cog-1
