!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no", :name => "viewport"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Innovationslandkarte
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    = render 'layouts/navbar'

    %main
      - flash.each do |type, msg|
        .alert{class: "alert-#{type} flash-message", role: 'alert'}
          = msg
      = yield
      #form-modal.modal.fade{role: 'dialog', 'data-backdrop' => 'static'}

    - unless on_map
      = render 'layouts/footer'

:javascript
  window.locale = '#{locale}';
